<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=3.0.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
      <add name="System.Data.SQLite Provider" invariant="System.Data.SQLite" description="Managed ADO.NET Provider for Sqlite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.102.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <add name="System.Data.SQLite Provider (OSX)" invariant="System.Data.SQLite.Mac" description="Managed (OSX) ADO.NET Provider for Sqlite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite.Mac, Version=1.0.104.0" />
    </DbProviderFactories>
  </system.data>
</configuration>
