<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=3.0.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
      <add name="CSharp Sqlite Provider" invariant="csharp-sqlite" description="Managed ADO.NET Provider for Sqlite" type="Community.CsharpSqlite.SQLiteClient.SqliteClientFactory, Community.CsharpSqlite.SQLiteClient" />
    </DbProviderFactories>
  </system.data>
</configuration>